.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--header-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.App-link {
  color: var(--active-tab-bg);
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}


.Tabs {
  display: flex;
  background: var(--header-bg);
}

.Tabs button {
  flex: 1;
  padding: 0.5rem;
  border: none;
  background: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
}

.Tabs button.toggle {
  flex: 0;
  padding: 0 1rem;
}

.Tabs button.active {
  background: var(--active-tab-bg);
  color: var(--active-tab-color);
}

.Map-wrapper {
  height: 400px;
}

.AddForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 300px;
  margin: 1rem auto;
}

.AddForm input,
.AddForm button {
  padding: 0.5rem;
  background: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--button-bg);
}

.AddForm button {
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  cursor: pointer;
}

.MapWithList {
  display: flex;
}

.SideList {
  width: 250px;
  overflow-y: auto;
  margin-right: 1rem;
  text-align: left;
}

.place-card {
  background: var(--bg-color);
  border: 1px solid var(--hover-bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.place-card:hover {
  background: var(--hover-bg);
}

.card-info .title {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.card-info .address {
  font-size: 0.8rem;
  opacity: 0.8;
}

.arrow {
  font-size: 1.25rem;
}

.Map-area {
  flex: 1;
}

@media (max-width: 600px) {
  .MapWithList {
    flex-direction: column;
  }

  .SideList {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .Map-wrapper {
    height: 300px;
  }
}
